html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#modifications {
    padding: 0 10px 0 10px;
}

table.htCore td.star {
    color: #fcb515;
}

.floatRight {
    float: right;
    padding-right: 20px;
}

.floatLeft {
    float: left;
}

.dirty {
    color: red;
}